{% extends 'base.html' %}

{% block main %}
<div class="header-contents">
    <h2>支払い画面</h2>
</div>
<div class="image">
    <img src="https://images.unsplash.com/photo-1493770348161-369560ae357d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80" alt="">
</div>
<div class="container">
    <dl>
        <dt>店名:</dt>
        <dd>{{ shop.name }}</dd>
        <dt>価格:</dt>
        <dd>{{ price }}</dd>
    </dl>

    <a href="{% url 'write' %}">支払う</a>
</div>
{% endblock %}
