{% extends 'base.html' %}

{% block main %}
<body>
    <div class="container">
        <div class="header-contents">
            <h2>口コミ入力画面</h2>
        </div>
        <div class="wrapper">
            <form action="{% url 'write' %}" method="post">{% csrf_token %}
                <div>
                    <label for="title">タイトル</label>
                    <input type="text" id="title" name="title">
                </div>
                <div>
                    <label for="review">口コミ内容</label>
                </div>
                <textarea id="review" name="message"></textarea>
                <input type="submit" value="送信する">
            </form>
        </div>
    </div>
{% endblock %}